<div class="buttons-container">

    <ng-container *ngIf="!_mantService.kanbanSel">
        <div class="buttons">
            <button mat-button class="button-accept" (click)="add()">ACEPTAR</button>
        </div>
    </ng-container>

    <ng-container *ngIf="_mantService.kanbanSel">
        <div class="buttons">
            <button mat-button class="button-accept" (click)="update()">ACEPTAR</button>
        </div>
    </ng-container>

    <ng-container *ngIf="_sesionService.sesion.esAdmin && _mantService.kanbanSel">
        <div class="buttons">
            <button class="button-delete" mat-raised-button #menuBorrarTrigger [matMenuTriggerFor]="menuBorrar">

                ELIMINAR
            </button>
        </div>
    </ng-container>

    <mat-menu #menuBorrar="matMenu">
        <div class="delete-container" fxLayout="column" fxLayoutAlign="center center"
            (click)="clickPreventCloseMenu($event)" (keydown)="onMenuBorrarKeydown($event)">
            <p>Se va a eliminar este kanban</p>
            <h2>¿Estás seguro/a?</h2>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-stroked-button (click)="delete()">Sí</button>
                <button mat-stroked-button (click)="cancelaMenuBorrar()">No</button>
            </div>
        </div>
    </mat-menu>

    <div class="buttons">
        <button mat-button class="button-close" (click)="cancelar()">CERRAR</button>
    </div>
</div>